.PickleBox {
  white-space: nowrap;
  padding: var(--element-pad);
  border-color: var(--bordercolor);
  border-width: var(--fixedborderwidth);
  border-style: solid;
  outline: 0 solid var(--tab-hover);

  &:not(.Legend) {
    .name,
    .radio,
    .abbr {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &.Legend {
    border-color: transparent;
  }

  .number {
    font-size: 0.65em;
    font-weight: normal;
  }

  .abbr {
    font-size: 0.9em;
    font-weight: 600;
  }

  .name,
  .radio {
    font-size: 0.55em;
  }

  .radio {
    pointer-events: none;
  }
}
