.imge_text_container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.leftimage {
  flex-basis: 50%
}

.righttext {
  font-size: 20px;
  padding-left: 20px;
}