.imge_text_container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.leftimage {
  flex-basis: 50%
}

.righttext {
  font-size: 20px;
  padding-left: 20px;
}

.Popup {
  background-color: var(--blocks);
  color:rgb(var(--text));
  border-radius: 0.125rem;
  padding: calc(var(--margin) * 1.5) var(--2margin) var(--2margin) var(--margin);
  box-shadow: 0 1px 3px var(--lightshadow), 0 1px 2px var(--darkshadow);
  margin: var(--margin);
}

.facts {
  background-color: rgb(20,20,20);
}

.fact_table {
  width: 100%;
  border-collapse: collapse;
}

.fact_header {
  width: 100%;
  background: rgb(50,50,50);
  border-bottom: 1px solid rgb(100, 100, 100);
}

.fact_data {
  border-bottom: 1px solid rgb(100, 100, 100);
}
.fact_value {
  background-color: rgb(35,35,35);
  width: 30%;
}

.pickleDesc {
  border-top: 5px solid rgb(100, 100, 100);
}

.pickleDesc p, .pickleDesc h4{
  display: inline;
}

.pickleDesc p {
  font-size: 80%;
}
